<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <%= image_tag(@book.cover, class: "img-fluid rounded-start", alt: "Book Cover") %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="display-6"><%= @book.title %></h5>
        <p class="card-text">  <%= @book.author %></p>
        <p class="card-text"><%= @book.description %></p>
        <p class="card-text"><%= @book.language %></p>
        <p class="card-text"><%= @book.isbn %></p>

      </div>
    </div>
  </div>
</div>
<div class="button-group d-flex justify-content-front">
  <%= button_to "Edit", edit_book_path(@book), method: :get, class: "btn btn-outline-secondary" %>
  <%= button_to "Delete", book_path(@book), method: :delete, class: "btn btn-outline-secondary ms-1" %>
</div>