
<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "container"}) do |f| %>
  <div class="mb-3">
    <%= f.label :email ,class:"form-label" %><br />
    <%= f.email_field :email, class:"form-control", autocomplete: "email", placeholder:"Enter your email address here" %>
  </div>

  <div class="mb-3">
    <%= f.label :password ,class:"form-label" %><br />
    <%= f.password_field :password, class:"form-control", autocomplete: "current-password", placeholder:"Enter your password here" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="mb-3">
      <%= f.check_box :remember_me, class:"form-check-input" %>
      <%= f.label :remember_me, class:"form-check-label" %>
    </div>
  <% end %>

  <div>
    <%= f.submit "Log in", class: "btn btn-outline-secondary" %>
    <%= render "devise/shared/links" %>
  </div>
<% end %>
